*{
    margin: 0;
    font-family:'Open Sans', sans-serif; 
}
#parent{
    position: relative;
}
.text{
    position: absolute;
    margin-left: 845px;
    margin-top: 216px;

}
.h1a{
    font-weight: bolder;
    font-size: 65px;
}
.p1a{
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}
.h4a{
    margin-top: 29px;
    
}
.btn-contact{
    width: 160px;
    height: 67px;
    background: #F15B22;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
}
.first-main{
    display: flex;
}
.main{
    position: absolute;
    left: 862px;
    top: 1178px;
}
.image-main{
position: absolute;
width: 569px;
height: 723.3px;
left: 206px;
top: 939px;
}
.main-header{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.main-text{
    margin-top: 30px;
    font-weight: 400;
    color: #444343;
    
}  

ul{
    margin-top: 20px;
    font-weight: 400;
    color: #444343;
    list-style-type: none;
}
ul li:before {
    content: '✓';
    color: green;
  }
.plan-container{
    display: flex;
    gap: 40px;
    margin-top: 50px;
    margin-left: 420px;
    width: 1141px;
    

   
}
.section-title{
    text-align: center;
    margin-top: 900px;
    font-weight: 700;
    font-size: 40px;
}
.last{
    background-image:linear-gradient(90deg, #d75724 0%, rgba(210, 90, 43, 0) 100%), url('images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1140px;
    height: 300px;
    margin-left: 230px;
    margin-top: 124px;
   
}
.last-part{
    position: absolute;
    margin-top: 59px;
    margin-left: 64px;
}
.last-text{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
.btn-last{
    margin-top: 24px;
    width: 135px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background: #F15B22;
    color: #FFFFFF;
    
}
.footer{
    display: flex;
    margin-top: 130px;
    background-color: #151414;
    color: #FFFFFF;
    width: 1600px;
    height: 577px;
}
.footer-text{
    margin-top: 130px;
    margin-left: 230px;
}
.footer-input{
    margin-left: 300px;
    margin-top: 130px;
}
.input-email{
    margin-top: 30px;
    border-radius: 5px;
   
    
}
.btn-footer{
    margin-top: 16px;
    border-radius: 5px;
    width: 130px;
    height: 55px;
    color: #d75724;
    font-weight: 600;
    font-size: 16px;
}
.text-para{
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Work Sans';
    font-style: normal;
}
.footer-email{
    margin-top: 24px;
}
.footer-image{
    margin-top: 32px;
    
}